<div class="profile-container">
  <div class="container padding-top-45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatar-frame-online">
          <img src="../../../assets/img/generic_avatar.png" class="avatar-image img-fluid" alt="Generic avatar">
        </div>
        <hr />
        <span>Change picture</span><br />
        <label class="custom-file-upload">
          <input type="file">
          Upload avatar
        </label>
      </div>
      <div *ngIf="user" class="col-md-9">
        <div>
          <label fixed>Nick</label>
          <input type="text" class="form-control" [(ngModel)]="user.nick">
        </div>
        <div>
          <label fixed>Subnick</label>
          <input type="text" class="form-control" [(ngModel)]="user.subnick">
        </div>
        <div>
          <label fixed>Email</label>
          <input type="text" disabled class="form-control" [(ngModel)]="user.email">
        </div>
        <div>
          <label fixed>Status</label>
          <select class="form-control" [(ngModel)]="user.status">
            <option value="online">Online</option>
            <option value="away">Away</option>
            <option value="busy">Busy</option>
            <option value="disconnected">Disconnected</option>
          </select>
        </div>
        <hr />
        <a class="btn btn-primary btn-block" (click)="saveSettings()">Save</a>
      </div>
    </div>
  </div>
</div>
